.video_container::-webkit-media-controls {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .video_wrapper {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .video_container {
    height: 101vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    object-fit: fill !important;
  }
  * {
    padding: 0;
    margin: 0 !important;

    margin-top: -2px !important;
  }
}

@media (min-width: 768px) {
  .video_wrapper {
    height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .video_container {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}